doctype html 
html(lang="es")
	head 
		title ReactiveTech
		<!-- bower:css -->
		<!-- endbower -->
		link(rel='stylesheet', href='stylesheets/main.css')
	body 
		div.wrapper
			div.container-fluid
				div.row 
					div.col-md-12
						header.header-container
							h1.header-title.text-center Desarrollamos Ideas y las convertimos en realidad
							h2.header-subtitle.text-center UX Design &bullet; Web Design &bullet; Web &amp; Mobile Development 
		<!-- bower:js -->
		<!-- endbower -->